<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alquilar Vehículo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <header>
        <nav>
            <h1>Alquilar Vehículo</h1>
            <a href="/admin" class="btn-volver">Volver al panel</s></a>
        </nav>
    </header>
    <main>
        <section class="alquiler">
            <h2>Selecciona un vehículo para alquilar</h2>
            <!-- Aquí puedes agregar un formulario o una lista de vehículos disponibles para alquilar -->
            <p>Aquí se mostrarán los vehículos disponibles para alquilar.</p>
        </section>
    </main>
</body>
</html>