<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <h1>Panel Cliente</h1>
            <a href="{{ url_for('logout') }}" class="btn-Cerrar">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <section class="panel">
            <h2>Bienvenido, Cliente</h2>
            <p>Desde aquí puedes ver tus alquileres y reservar vehículos.</p>
            <div class="acciones">
                <a href="#" class="btn-accion">Ver Mis Alquileres</a>
                <a href="{{ url_for('vista_alquilar') }}" class="btn-accion">Alquilar Vehículo</a>
                <!-- Agregar más acciones aquí -->
            </div>
        </section>
    </main>
</body>

</html>