<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <h1>Panel Empleado</h1>
            <a href="{{ url_for('logout') }}" class="btn-Cerrar">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <section class="panel">
            <h2>Bienvenido, Empleado</h2>
            <p>Desde aquí puedes gestionar alquileres y clientes.</p>
            <div class="acciones">
                <a href="#" class="btn-accion">Gestionar Alquileres</a>
                <a href="{{ url_for('vista_clientes') }}" class="btn-accion">Ver Clientes</a>
                <a href="{{ url_for('registrar_cliente')}}" class="btn-accion">Registrar Cliente</a>
                <!-- Agregar más acciones aquí -->
            </div>
        </section>
    </main>
</body>

</html>